<!-- <svg>
  <path
    [attr.d]="smoothPathCatmull"
    stroke="blue"
    stroke-width="3"
    fill="none"
  />
  <circle
    fill="red"
    *ngFor="let p of points"
    [attr.cx]="p?.x"
    [attr.cy]="p?.y"
    r="2"
  />
</svg>
 -->
<svg width="1708" height="375" style="border: 1px solid #ccc; padding: 10px">
  <!-- 🔹 СЕТКА (каждые 5px) -->
  <!-- <g *ngFor="let i of ticks"> -->

  <!-- горизонтальные линии -->
  <!-- <line
      x1="0"
      [attr.y1]="i"
      x2="300"
      [attr.y2]="i"
      stroke="#eee"
    /> -->

  <!-- вертикальные линии -->
  <!-- <line
      [attr.x1]="i"
      y1="0"
      [attr.x2]="i"
      y2="300"
      stroke="#eee"
    /> -->

  <!-- </g> -->

  <!--  ОСИ -->
  <!-- Y -->
  <line x1="0" y1="375" x2="0" y2="0" stroke="black" stroke-width="2" />
  <!-- X -->
  <line x1="0" y1="375" x2="1708" y2="375" stroke="black" stroke-width="2" />

  <!--  ДЕЛЕНИЯ (каждые 7,36 px) мелкие  деления-->
  <g *ngFor="let i of ticksY">
    <!-- ticks по Y -->
    <line x1="0" [attr.y1]="i + 7" x2="5" [attr.y2]="i + 7" stroke="black" />
  </g>
  <g *ngFor="let i of ticksX">
    <!-- ticks по X -->
    <line [attr.x1]="i" y1="375" [attr.x2]="i" y2="370" stroke="black" />
  </g>
  <g *ngFor="let i of markTicksY">
    <line
      x1="0"
      x2="10"
      [attr.y1]="375 - i"
      [attr.y2]="375 - i"
      stroke="red"
      stroke-width="2"
    />
    <!-- Подписи для ключевых меток по оси Y -->
    <text x="15" [attr.y]="375 - i + 4" font-size="10">
      {{ (i / 368) * 50 | number: "1.0-0" }}
    </text>
  </g>

  <g *ngFor="let i of markTicksX">
    <line
      y1="375"
      y2="365"
      [attr.x1]="i"
      [attr.x2]="i"
      stroke="red"
      stroke-width="2"
    />
    <!-- Подписи для ключевых меток по оси Y -->
    <!-- <text x="15" [attr.y]="375 - i + 4" font-size="10">
      {{ (i / 368) * 50 | number: "1.0-0" }}
    </text> -->
  </g>

  <!--  ПОДПИСИ (каждые 25px, чтобы не было каши) -->
  <g *ngFor="let i of labelTicks">
    <!-- <text [attr.x]="i" y="295" font-size="8">
      {{i}}
    </text> -->
  </g>
</svg>
