<svg
  class="chart"
  viewBox="-20 0 1731 400"
  [attr.width]="width"
  [attr.height]="templateHeight"
>
  <!--  ОСИ -->
  <!-- Y -->
  <line x1="0" class="axis" [attr.y1]="templateHeight" x2="0" y2="0" />
  <!-- X -->
  <line
    x1="0"
    class="axis"
    [attr.y1]="templateHeight"
    x2="1708"
    [attr.y2]="templateHeight"
  />

  <!--  ДЕЛЕНИЯ частые -->
  <g *ngFor="let i of ticksY">
    <!-- ticks по Y -->
    <line
      class="tick"
      x1="0"
      [attr.y1]="i + paddingChart"
      x2="-5"
      [attr.y2]="i + paddingChart"
      stroke="black"
    />
  </g>
  <g *ngFor="let i of markTicksY">
    <!-- Деления Редкие -->
    <!-- линии сетки -->
    <line
      class="grid"
      x1="0"
      [attr.x2]="width"
      [attr.y1]="templateHeight - i"
      [attr.y2]="templateHeight - i"
    ></line>
    <line
      class="tick-title"
      x1="0"
      x2="-10"
      [attr.y1]="templateHeight - i"
      [attr.y2]="templateHeight - i"
    />
    <!-- Подписи для ключевых меток по оси Y -->
    <text class="text" x="-27" [attr.y]="templateHeight - i + 4">
      {{ (i / 368) * maxValueY | number: "1.0-0" }}
    </text>
  </g>
  <g *ngFor="let t of ticks">
    <!-- сетка -->
    <line
      *ngIf="t.isMajor"
      class="grid"
      y1="0"
      [attr.y2]="templateHeight"
      [attr.x1]="t.x"
      [attr.x2]="t.x"
    />

    <line
      class="tick"
      [attr.x1]="t.x"
      [attr.y1]="templateHeight"
      [attr.x2]="t.x"
      [attr.y2]="templateHeight + 5"
      stroke="black"
    />

    <!-- деления -->
    <line
      class="tick-title"
      [attr.y1]="templateHeight"
      [attr.y2]="t.isMajor ? height + 15 : height + 8"
      [attr.x1]="t.x"
      [attr.x2]="t.x"
    />

    <!-- подписи только для крупных -->
    <text
      *ngIf="t.isMajor && t.time && (t.time.getTime()) !== null"
      class="text"
      [attr.y]="height + 27"
      [attr.x]="t.x - 10"
    >
      {{ t.time | date: "HH:mm:ss" }}
    </text>
  </g>
  <ng-container *ngFor="let line of scaledSeries; let i = index">
    <path
      class="path"
      [attr.d]="buildPath(line)"
      [attr.stroke]="colors[i]"
      stroke-width="2"
      fill="none"
      (click)="clickOnPoint(line)"
    />
    <circle
      class="point"
      *ngFor="let p of line"
      [attr.cx]="p.x"
      [attr.cy]="p.y"
      [attr.fill]="colors[i]"
      [attr.stroke]="colors[i]"
      (click)="clickOnPoint(p)"
      r="4"
    />
  </ng-container>
</svg>
